# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
env/
venv/
.venv/

# Environment variables
*.env
.env.local
.env.*

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# VSCode / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Compiled / cache
*.egg-info/
.eggs/
*.manifest
*.spec

# Node (if frontend)
node_modules/
build/
dist/

# Testing
.coverage
.pytest_cache/
htmlcov/
